<% for(var i=0; i < users.length; i++) { %>
    <tr>
        <td>
            <%= users[i].ci %>
        </td>
        <td>
            <%= users[i].centro %>
        </td>
        <td>
            <%= users[i].nombres %>
        </td>
        <td>
            <%= users[i].edad %>
        </td>
        <td>
            <%= users[i].vacuna %>
        </td>
        <td>
            <%= users[i].dosis %>
        </td>
        <td>
            <%= users[i].lote %>
        </td>
        <td>
            <a href="/update-user?id=<%= users[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%=users[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>